 {%if page.title == 'Home' %}
   {% include home-footer.html %}
 {% endif %}

 <div class="footer clearfix">
  <div class="middle center">
    <dl class="left">
      <dt>帮助中心</dt>
      <dd><a href="http://www.maimaichen.com/about/info_73.html" target="_blank">联系我们</a></dd>
      <dd><a href="http://www.maimaichen.com/about/info_69.html" target="_blank">服务协议</a></dd>
    </dl>   

    <dl class="left">
      <dt>关注我们</dt>
      <!-- 
      <dd><a href="http://weibo.com/maimaichenwang" target="_blank">新浪微博</a></dd>
      <dd><a href="http://user.qzone.qq.com/184478721/main" target="_blank">QQ空间</a></dd>
      <dd><a href="http://www.maimaichen.com/about/info_73.html" target="_blank">意见反馈</a></dd>
      <dd><a href="http://www.maimaichen.com/about/info_73.html" target="_blank">联系客服</a></dd>
       -->
    </dl>   
    <dl class="left client">
      <dt>下次怎么来？</dt>
      <dd>记住域名：www.maimaichen.com</dd>
      <dd>收藏本站：<a href="javascript:void(0);" onclick="AddFavorite('http://www.maimaichen.com','买卖晨','dj_sc_wrapspan',5000);">加入收藏</a></dd>
      <div class="add-collection" id="dj_sc_wrapspan" style="display:none;"> 
        <span onclick="closewindow('dj_sc_wrapspan')"></span>
        <p>按Ctrl+D，把买卖晨加入收藏夹。</p>
      </div>
    </dl>
  </div>
         
   
    <!-- 友情链接只在首页进行展示 -->
    <script type="text/javascript">
    (function($){
      $.fn.myScroll = function(options){
      var defaults = {
        speed:40,
        rowWidth:260
      };
      
      var opts = $.extend({}, defaults, options),intId = [];
      
      function marquee(obj, step){
      
        obj.find("ul").animate({
          marginLeft: '-=1'
        },0,function(){
            var s = Math.abs(parseInt($(this).css("margin-left")));
            if(s >= step){
              $(this).find("li").slice(0, 1).appendTo($(this));
              $(this).css("margin-left", 0);
            }
          });
        }
        
        this.each(function(i){
          var sh = opts["rowWidth"],speed = opts["speed"],_this = $(this);
          intId[i] = setInterval(function(){
            if(_this.find("ul").width()<=_this.width()){
              clearInterval(intId[i]);
            }else{
              sh=_this.find("ul li:first").width()+Math.abs(parseInt(_this.find("ul li:first").css("margin-right")));
              marquee(_this, sh);
            }
          }, speed);

          _this.hover(function(){
            clearInterval(intId[i]);
          },function(){
            intId[i] = setInterval(function(){
              if(_this.find("ul").width()<=_this.width()){
                clearInterval(intId[i]);
              }else{
                sh=_this.find("ul li:first").width()+Math.abs(parseInt(_this.find("ul li:first").css("margin-right")));
                marquee(_this, sh);
              }
            }, speed);
          });
        
        });

      }

    })(jQuery);

    var tempwidth=0;
    var zuidawidth=0;
    var liwidths=0;
    var wrapWidth=$("#wrap").width();
    $("#wrap ul li").each(function(i){
      tempwidth=$(this).width()+Math.abs(parseInt($(this).css("margin-right")));
      if(tempwidth>zuidawidth){
        zuidawidth=tempwidth;
      }
      liwidths+=tempwidth;
      });
    if(liwidths<wrapWidth){
      $("#wrap").width((liwidths-zuidawidth));
    }
    
    $("#wrap").myScroll({
      speed:40, //数值越大，速度越慢
      rowWidth:200 //li的宽度
    });
    </script>
    <div class="f_bah clearfix"> 买卖晨网站是第三方网上购物导购网站所有商品信息来自互联网，如果有商品信息不同，可能由于商品信息更新引起，所有商品信息以商家网站为准<br>
    </div>
 </div>