  <div class="middle center clearfix">
    <!-- 大图 -->
    <div class="big-pic left">
                        <a href="http://temai.taobao.com/event5076.htm?q=/zLCoeS1pxGbhUsf2ayXDEqapBU15yTFo55GK6FSlLqwx43ceR8YtVnFGWZjX0lLEYDxha3jtd0=" target="_blank">
            <img src="http://img.tuanhuopu.com/ca/d5/cad585a9903e926176f32500d640a43f.png"/>
          </a>
                  </div>
    
    <!-- 小图 -->
    <dl class="small-pic left">
                          <dd>
              <a href="nvzhuang.html" target="_blank"><img src="http://img.tuanhuopu.com/17/9f/179f2d8e3902b3e5191001e0d4a836c9.png"/></a>
            </dd>
                    <dd>
              <a href="brand.html" target="_blank"><img src="http://img.tuanhuopu.com/8d/b4/8db4b969cc68ddce21cb8bf923311216.png"/></a>
            </dd>
                    <dd>
              <a href="baoyou.html" target="_blank"><img src="http://img.tuanhuopu.com/44/b9/44b94db9a3fb37a21e8e9ae5826a50c4.png"/></a>
            </dd>
                    <dd>
              <a href="xiebao.html" target="_blank"><img src="http://img.tuanhuopu.com/4d/35/4d358cc99935e3d6495245153b068ea7.png"/></a>
            </dd>
                    <dd>
              <a href="top.html" target="_blank"><img src="http://img.tuanhuopu.com/65/ce/65ce8ac11c75ad0cd896213f3d31ae2c.png"/></a>
            </dd>
                    <dd>
              <a href="mobile.html" target="_blank"><img src="http://img.tuanhuopu.com/24/04/24044725a8e67c660729aaa55a80ceef.png"/></a>
            </dd>
                  </dl>
  </div>

  <!-- 今日秒杀、明日预告 -->
  
<div class="new_prd middle center clearfix">
  <div class="pr-tit">今日已更新<span>450</span>款商品</div>
  <div class="px_tab">
    <a href="hot.html" style='color:#6A6A6A'>最热</a>
    <a href="index.html" style='color:red'>最新</a>
    <em>排序：</em>
  </div>
</div>
<script type="text/javascript">
  
  //1、必须等待网页中所有的内容加载完毕后 (包括图片)才能执行
  var ajaxkey = true;
  $(window).scroll(
    function() {
      var heigh = $(document).height() - $(this).scrollTop() - $(this).height();
      if (heigh < 650 && ajaxkey) {
        getData();// jquery的Ajax异步加载数据、需要从数据库加载的、需要调用该函数
      }
  });

  // 2、瀑布流主函数
  function PBL(outer, boxs, style) { // style加载样式（1或者2）
    var box = $(boxs);
    for ( var i = 0; i < box.length; i++) {
      box.eq(i).css( {
        "opacity" : "1"
      });
      box.eq(i).stop().animate( {
        "opacity" : "1"
      }, 500);
    }
  }

  //3、JSON话后得数据（动态遍历）
  var jsonobj_all = {};
  var jk = jQuery.parseJSON(jsonobj_all);
  var hang = 1;
  var page = 1;         
  var pubu = $("#Goods_conteiner");   //商品区域
  var imgpath = $("#imagePath").val();  //图片路径
  function getData() {
    // 新版开始
    checknum = 0;
    
    for(var s in jk[hang]){
      checknum+=1;
    }
    
    var str = "";
    for ( var i in jk[hang]) {
      var n;
      n = parseFloat(i) + parseFloat(1);
      
      //判断价格颜色
      var bgColor;
      if(jk[hang][i].yhqstatus !='' && jk[hang][i].yhqstatus == 3){
        bgClolor = "sell-prd";
      }else if(jk[hang][i].soldflag==1){
        bgClolor = "sell-pre";
      }else{
        bgClolor = "sell-prb";
      }
      
      //每行第三个商品的边距要进行改变
      if(jk[hang][i].yhqstatus !=''){
        if(jk[hang][i].yhqstatus == 3){
          str += '<li class="left p_showdiv" csid="'+ jk[hang][i].cs_id + '" name="shoucangshow" key="'+ jk[hang][i].num_iid + '" borderColor="green">';
        }else if(jk[hang][i].yhqstatus != 2){
          if(jk[hang][i].soldflag == 1){
            str += '<li class="left p_showdiv" csid="'+ jk[hang][i].cs_id + '" name="shoucangshow" key="'+ jk[hang][i].num_iid + '" borderColor="huise">';
          }else{
            str += '<li class="left p_showdiv" csid="'+ jk[hang][i].cs_id + '" name="shoucangshow" key="'+ jk[hang][i].num_iid + '" borderColor="red">';
          }
        }
      }else{
        if(jk[hang][i].soldflag == 1){
          str += '<li class="left" csid="'+ jk[hang][i].cs_id + '" name="shoucangshow" key="'+ jk[hang][i].num_iid + '" borderColor="huise">';
        }else{
          str += '<li class="left" csid="'+ jk[hang][i].cs_id + '" name="shoucangshow" key="'+ jk[hang][i].num_iid + '" borderColor="red">';
        }
      }
      
      //商品图片和标题
      str += '<div class="goods-box">';
      if(jk[hang][i].soldflag == 1){
        str += '<div class="goods-pic"><img src="'+ jk[hang][i].img210 + '" /></div>';
        str += '<h5 class="gray-red-3c clearfix"><b class="left">【包邮】</b>'+ jk[hang][i].ltitle +'</h5>';
      }else{
        str += '<div class="goods-pic"><a target="_blank" href="'+ jk[hang][i].url + '"><img src="'+ jk[hang][i].img210 + '" /></a></div>';
        str += '<h5 class="gray-red-3c clearfix"><b class="left">【包邮】</b><a href="'+ jk[hang][i].url + '"  target="_blank">'+ jk[hang][i].ltitle +'</a></h5>';
      }
      
      
      //商品价格和商品折扣
      str += '<div class="goods-price left">';
      str += '<em class="left '+jk[hang][i].bgColor+'">￥</em><span class="left '+jk[hang][i].bgColor+'">'+ jk[hang][i].price + '</span>';
      str += '<div class="old-price left">';
      str += '<b>￥'+ jk[hang][i].oldprice + '</b><strong>'+ jk[hang][i].zhe + '折</strong>';
      str += '</div>';
      str += '</div>';
      
      //购买按钮
      if(jk[hang][i].yhqstatus != '' && jk[hang][i].yhqstatus == 3){
        str +='<div class="brand-button right gray-fff" style="background-color:#36bb39">'; 
        str +='<a href="'+jk[hang][i].url+'" target="_blank">9点开始</a>';
        str +='</div>';
      }else if(jk[hang][i].yhqstatus != '' && jk[hang][i].yhqstatus == 1){
        str +='<div class="brand-button right gray-fff">'; 
        str +='<a href="'+jk[hang][i].url+'" target="_blank">去抢购</a>';
        str +='</div>';
      }else if(jk[hang][i].soldflag==1){
        str +='<div class="brand-button right gray-fff" style="background-color:#9b9b9b;margin-top:11px;display:inline;padding:4px 5px;">已售完'; 
        str +='</div>';
      }else if(jk[hang][i].istmall==2){
        str +='<div class="brand-button right gray-fff">'; 
        str +='<a href="'+jk[hang][i].url+'" target="_blank" istmall="'+jk[hang][i].istmall+'" id="button'+jk[hang][i].num_iid+'"><em class="m-icon"></em><span>天猫</span></a>';
        str +='</div>';
      }else{
        str +='<div class="brand-button right gray-fff">'; 
        str +='<a href="'+jk[hang][i].url+'" target="_blank" istmall="'+jk[hang][i].istmall+'" id="button'+jk[hang][i].num_iid+'"><em class="t-icon"></em><span>淘宝</span></a>';
        str +='</div>';
      }
      //今日新品
      str +='<div class="goods-prompt">';
      if(jk[hang][i].is_today != '' && jk[hang][i].is_today == 1){
        str +='<div class="new-goods">新品</div>'; 
      }
      
      //秒杀图标
      if(jk[hang][i].yhqstatus != '' && jk[hang][i].yhqstatus != 2){
        str +='<div class="time-goods left">秒杀</div>'; 
      }
      str +='</div>';
      
      // 手机二维码
      if (jk[hang][i].mobile_barcode != '') {
        str += '<div class="ewm_sm" id="barcode' + jk[hang][i].num_iid+ '" style="display:none;">';
        if(jk[hang][i].chaprice != '' && jk[hang][i].chaprice>0){
          str += '<p>扫描二维码更便宜</p><img src="'+jk[hang][i].mobile_barcode+'">';
        }
        str += '</div>';
      }else{
        str += '<div class="ewm_sm" style="display:none;">';
        if(jk[hang][i].chaprice != '' && jk[hang][i].chaprice>0){
          str += '<p>扫描二维码更便宜</p><img src="'+jk[hang][i].mobile_barcode+'">';
        }
        str += '</div>';
      }   
      
      //手机下单价格省多少钱
      if (jk[hang][i].mobile_barcode != '' && jk[hang][i].chaprice>0) {
        str += '<div class="sj_gm" id="barcodemsg' + jk[hang][i].num_iid+ '">手机购买再省<span>'+jk[hang][i].chaprice+'元</span></div>';
      }else {
        str += '<div class="sj_gm" style="display:none;">手机购买再省<span>'+jk[hang][i].chaprice+'元</span></div>';
      }
      
      //已抢光
      if (jk[hang][i].soldflag == 1) {
        str += '<div class="sold-out"><img src="'+imgpath+'images/ymg_img.png"></div>';
      }
      
      //品牌秒杀标识
      if (jk[hang][i].yhqstatus != '' && jk[hang][i].yhqstatus !=2) {
        str += '<div class="n-indx-brand"></div>';
      }
      
      //收藏红心    
      str += '<a class="collect-goods" href="javascript:void(0)" id="markShoucang' + jk[hang][i].num_iid
      + '" onclick="shoucang(' + jk[hang][i].num_iid + ',\''
      + jk[hang][i].ltitle + '\',' + jk[hang][i].price + ','
      + jk[hang][i].oldprice
      + ');"></a>';   
      
      // <!--当首页中的商品有属于品牌秒杀的话，鼠标浮上去之后显示一张蓝色的图片-->
      str += '<div class="b-juan" style="display:none;" id="b-juan'
          + jk[hang][i].num_iid + '" >';
      str += '<a href="' + jk[hang][i].url + '" target="_blank">';
      
      if (jk[hang][i].status != '' && jk[hang][i].status == 3) {
        str += '<img class="b-juan-you" src="'+imgpath+'images/quan_tag_wait_01.png">';
      } else {
        str += '<img class="b-juan-you" src="'+imgpath+'images/quan_tag_wait_02.png">';
      }
      str += '<span>' + jk[hang][i].hdprice + '</span>';
      str += '<i>' + jk[hang][i].hdprice + '</i>';
      str += '</a>';
      str += '</div>';
      str += '</div>';
      str += '<div class="clear"></div>';
      str += '</div>';
      str += '</li>';
    }
    $("#Goods_conteiner").append(str);

    // 将动态加载商品的收藏进行标识
    var arr1 = new Array();
    var strings = $("#shoucangIds").val();
    arr1 = strings.split(",");
    for (i = 0; i < arr1.length; i++) {
      $("#markShoucang" + arr1[i]).attr("class","collect-goods-ok");
    }
    
    // 返回数据的条数，如果小于16个的话下次就不让他再请求了
    if (checknum < 30) {
      ajaxkey = false;
    } else {
      ajaxkey = true;
    }
    hang++;
    PBL("#Goods_conteiner", ".brand-width", 2);
  }

</script>

<input type="hidden" id="shoucangIds" value=""/>
