<!--Nav-->
<div id="Nav" class="clearfix">
  <div class="nav clearfix">
    <div class="middle center">
      <ul class="one-nav center left">
        <li class="gray-fff"><a class='on left' href="/" target="_blank">首页新品</a></li> 
        <li class="gray-fff"><a class='left' href="/baoyou/" target="_blank">9块9包邮</a></li> 
        <li class="gray-fff"><a class='left' href="/brand/" target="_blank">品牌秒杀</a></li> 
        <li class="gray-fff"><a class='left' href="/top/" target="_blank">热销排行榜</a></li> 
        <li class="gray-fff"><a class='left' href="/yugao/" target="_blank">精彩预告</a></li>
      </ul>
    </div>
  </div>
  <ul class="two-nav middle center clearfix">
    <li class="gray-red-3c"><a class="on" href="/" target="_blank">全部</a></li>
    <li class="gray-red-3c"><a  href="/nvzhuang/" target="_blank">女装</a></li>
    <li class="gray-red-3c"><a  href="/nanzhuang/" target="_blank">男装</a></li>
    <li class="gray-red-3c"><a  href="/jiaju/" target="_blank">家居</a></li>
    <li class="gray-red-3c"><a  href="/huazhuangpin/" target="_blank">美妆</a></li>
    <li class="gray-red-3c"><a  href="/xiebao/" target="_blank">鞋包</a></li>
    <li class="gray-red-3c"><a  href="/meishi/" target="_blank">美食</a></li>
    <li class="gray-red-3c"><a  href="/peishi/" target="_blank">配饰</a></li>
    <li class="gray-red-3c"><a  href="/muying/" target="_blank">母婴</a></li>
    <li class="gray-red-3c"><a  href="/shuma/" target="_blank">数码</a></li>
    <li class="gray-red-3c"><a  href="/yechang/" target="_blank">疯狂夜场</a></li>
  </ul>
</div>